In [ ]:
# Create several separate DataFrames from the data using selects:
# One dimension for the Customers containing customer, age, gender and zipcodeOri, unique of course.
# One for the Merchants containing merchant, zipMerchant, also unique.
# One fact-table for the Transactions with category, amount and fraud, ... and the columns to join both the merchant
# and the customer back in again.

In [ ]:
# How many customers are there? How many merchants and how many transactions?
# Use your new DataFrames

In [ ]:
# Which category of transaction causes the biggest total loss in frauds?
# What amount is lost?
# Use your new table for transactions

In [ ]:
# Which category has the highest single fraud case by amount?
# Use your new table for transactions

In [ ]:
# How old is the customer that has the most fraud cases in travel.
# Use your new DataFrames instead of the imported table via a join.

In [ ]:
# Try calculating a share from the total loss per category that every
# fraud is causing.
# For example x% from all losses related to es_travel, and so on.
# use windowing functions. see pyspark.sql Window

In [ ]:
df = spark.read.table("bs140513_032310")